<header class="st-header q-pa-sm">
    <h1 class="st-header__title text-h3">Proteus</h1>
</header>
<h5>Default content</h5>
<div class="row">
    <div class="col col-3">
        <q-avatar></q-avatar>
        <div class="row">
            <div class="col col-12">
                <h6>Instructions</h6>
                <q-list></q-list>
                <div>Placeholder</div>
            </div>
        </div>Column 1 content
    </div>
    <div class="col">
        <div class="row">
            <div class="col col-12">
                <h6>Title</h6>
                <q-table></q-table>
                <div>Placeholder</div>
            </div>
        </div>Column 2 content
    </div>
</div>
</div>
<footer class="st-footer q-pa-sm">Footer Text</footer>