<header class="st-header q-pa-sm">
    <h1 class="st-header__title text-h3">Proteus</h1>
</header>
<div class="row">
    <div class="col col-3">
        <q-avatar></q-avatar>
        <div class="row">
            <div class="col col-12">
                <h6>Instructions</h6>
                <q-list></q-list>
                <div>TODO: Placeholder</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col col-12">
                <h6>96-well plate configuration</h6>
                <q-table :columns="wells.columns_wells" :data="wells.data_wells"></q-table>
                <div>TODO: Placeholder</div>
            </div>
        </div>
    </div>
</div>
<footer class="st-footer q-pa-sm">Made with 💖 by xlxs4</footer>